html, body {
  width: 100%;
  height: 100%;
}

/*navbar*/

.navbar {
  background: rgba(0,0,0,0.5);
  border: none;
  box-shadow: 0px 0px;
  position:fixed;
  width:100%; 
  z-index: 5;
}

.nav.navbar-nav li a {
    color: white;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}


/*Landing Page*/

#landing-pg-header {
  position: absolute;
  z-index: 3;
  color: white;
  text-align: center;
}

#landing-pg-subtitle {
  position: absolute;
  z-index:3;
  color: white;
  text-align: center;
}

#landing-pg-background {
  z-index:2;
  height: 650px;
  width: 100%;
  background: url(../imgs/HoodieAndLaptop.png) no-repeat;
  background-size: 100% 100%;
  padding: 0px;
}

.img-overlay {
  position: relative;
  top: 0px;
  height: 650px;
  background: url(../imgs/BlackTransparent) no-repeat; 
  background-size: 100% 100%; 
  background: #000;
  opacity: 0.7;
}

